/* resets browser default margin and padding */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}

img {
	margin: 0 auto;
}

ul li {
	list-style: none;
	font-family: 'Noto Serif', serif;
	
}

footer {
	min-height: 400px;
}
#wordPress img , #fewd img , #design img , #photography img , #education img  {
	margin: 10% auto 0 auto;
}

i.fa.fa-wordpress {
    float: left;	
}

.nav-tabs {
    border-bottom: none;
}
.copy h1{
	 margin-top: 70px;
}

#profileImg {
	margin-top: 70px;
	border-radius: 100px;
}

#projectsImg{
	margin: 21% auto 0 auto;
}

.nav-tabs .nav-link {
	display: inline-block;
}
.nav-tabs .nav-link > .fa.fa-wordpress{
	padding: 4px 0 4px 0;
} 

@media all and (max-width: 768px) { 
	#projectsImg{
		margin: 0 auto;
	}
	#wordPress img, #fewd img, #design img, #photography img, #education img {
		margin: 10%	 auto 0 auto;
	}

}

/* Portrait */
@media all and (max-width: 448px) { 
	.container {
		margin-top: 10%;
	}

}
